{% extends 'master.html' %} {% load static %} {% block title %}<title>
  Home
</title>
{% endblock%} {% block content%} {% include 'header.html' %}

<section class="hero-section position-relative">
  <video
    autoplay
    muted
    loop
    playsinline
    class="w-100"
    style="object-fit: cover; height: 100vh"
  >
    <source src="{% static 'videos/header.mp4' %}" type="video/mp4" />
    Your browser does not support the video tag.
  </video>

  <div
    class="overlay position-absolute top-0 start-0 w-100 h-100 d-flex align-items-center justify-content-center text-white text-center"
    style="background: rgba(0, 0, 0, 0.5)"
  >
    <div class="container">
      <h1 class="display-4 fw-bold">Building Legacies of Faith.</h1>
      <p class="lead">Welcome to Light Church</p>
      <div class="mt-4">
        <a href="#" class="btn btn-outline-light btn-lg me-3">Plan A Visit</a>
        <a href="#" class="btn btn-outline-light btn-lg">Get Connected →</a>
      </div>
    </div>
  </div>
</section>

<!--Welcome Message-->
<div class="container welcome-message">
  <div class="row">
    <div class="col-md-12">
      <h1 class="text-center mt-3">Welcome to Light Church</h1>
      <p class="text-center">
        We're so glad you're here! Light Church is a place of hope, healing, and
        growth—a family where everyone is welcomed, loved, and encouraged to
        shine with purpose. Whether you're joining us for the first time or
        looking for a deeper connection with God, you belong here. Let's walk
        this journey of faith together.
      </p>
      <a class="btn btn-secondary" href="#">More about Light</a>
    </div>
  </div>
</div>

<!--Services-->
<div class="container">
  <div class="row">
    <div class="col-md-4 mt-3">
      <div class="card mt-2">
        <div class="card-body">
          <span class="card-title"><b>SUNDAYS</b></span>
          <hr />
          <div>
            <span><i>First Service</i></span>
            <h6><b>8:30 - 10:00am</b></h6>
          </div>
          <div>
            <span><i>Second Service</i></span>
            <h6><b>11:00 - 12:30am</b></h6>
          </div>
          <div>
            <span><i>Sunday School</i></span>
            <h6><b>8:30 - 10:00am</b></h6>
            <h6><b>11:00 - 12:30am</b></h6>
          </div>
          <div>
            <span><i>Youth Service</i></span>
            <h6><b>14:00 - 11:30am</b></h6>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4 mt-3">
      <div class="card mt-2">
        <div class="card-body">
          <span class="card-title"><b>WEDNESDAYS</b></span>
          <hr />
          <div>
            <span><i>Wednesdays</i></span>
            <h6><b>6:30 - 19:00pm</b></h6>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4 mt-3">
      <div class="card mt-2">
        <div class="card-body">
          <span class="card-title"><b>FRIDAYS</b></span>
          <hr />
          <div>
            <span><i>Youth Bible Study</i></span>
            <h6><b>4:00 - 6:00pm</b></h6>
          </div>
          <div>
            <span><i>Vespass</i></span>
            <h6><b>6:00 - 7:00am</b></h6>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!--What's new-->
<div class="container">
  <h3 class="text-center mt-4">What's New</h3>
  <div class="row">
    <div class="col-md-4">
      <img src="{% static 'imgs/img1.jpg' %}" alt="" style="width: 100%" />
      <div class="new-event">
        <h5>Title</h5>
        <span><i class="far fa-clock text-dark"></i> July 22, 2025</span>
        <p>Asdfn asdfj sdfm asdhjfk hdjfk hajskd</p>
      </div>
      <a class="btn btn-secondary" href="#">Learn More</a>
    </div>
    <div class="col-md-4">
      <img src="{% static 'imgs/img2.jpg' %}" alt="" style="width: 100%" />
      <div class="new-event">
        <h5>Title</h5>
        <span><i class="far fa-clock text-dark"></i> July 22, 2025</span>
        <p>Asdfn asdfj sdfm asdhjfk hdjfk hajskd</p>
      </div>
      <a class="btn btn-secondary" href="#">Learn More</a>
    </div>
    <div class="col-md-4">
      <img src="{% static 'imgs/img4.jpg' %}" alt="" style="width: 100%" />
      <div class="new-event">
        <h5>Title</h5>
        <span><i class="far fa-clock text-dark"></i> July 22, 2025</span>
        <p>Asdfn asdfj sdfm asdhjfk hdjfk hajskd</p>
      </div>
      <a class="btn btn-secondary" href="#">Learn More</a>
    </div>
    <div class="col-md-4">
      <img src="{% static 'imgs/img1.jpg' %}" alt="" style="width: 100%" />
      <div class="new-event">
        <h5>Title</h5>
        <span><i class="far fa-clock text-dark"></i> July 22, 2025</span>
        <p>Asdfn asdfj sdfm asdhjfk hdjfk hajskd</p>
      </div>
      <a class="btn btn-secondary" href="#">Learn More</a>
    </div>
  </div>
</div>

<section class="py-5 bg-black text-white mt-3">
  <div class="container-fluid">
    <h2 class="fw-bold text-center mb-4">A Glimpse of Our Church Life</h2>
    <p class="text-center mb-5">
      From joyful worship to genuine community, here's a look at how we do life
      together.
    </p>
    <div class="auto-scroll-wrapper">
      <div class="auto-scroll-track">
        <img src="{% static 'imgs/img1.jpg' %}" />
        <img src="{% static 'imgs/img2.jpg' %}" />
        <img src="{% static 'imgs/img7.jpg' %}" />
        <img src="{% static 'imgs/img4.jpg' %}" />
        <img src="{% static 'imgs/img5.jpg' %}" />
      </div>
    </div>
  </div>
</section>
<script>
  var copy = document.querySelector(".auto-scroll-track").cloneNode(true);
  document.querySelector(".auto-scroll-wrapper").appendChild(copy);
</script>
{% endblock %}
